@font-face {
    font-family: MigaeSemibold;
    src: url("../font/MigaeSemibold.otf") format("opentype");
}
@font-face {
    font-family: RusticRoadway;
    src: url("../font/RusticRoadway.otf") format("opentype");
}
@font-face {
    font-family: Lato;
    src: url("../font/Lato-Regular.ttf") format("opentype");
}
@font-face {
    font-family: LucySaidOK;
    src: url("../font/Lucy Said Ok Personal Use.ttf") format("opentype");
}

@font-face {
    font-family: SymphonyCalligraphy;
    src: url("../font/SymphonieCalligraphyDEMO-Regular.otf") format("opentype");
}