/* Contains rules that are central to the CoL-specific index.css document itself. */
@font-face {
  font-family: MigaeSemibold;
  src: url("../font/MigaeSemibold.otf") format("opentype");
}
@font-face {
  font-family: RusticRoadway;
  src: url("../font/RusticRoadway.otf") format("opentype");
}
@font-face {
  font-family: Lato;
  src: url("../font/Lato-Regular.ttf") format("opentype");
}
@font-face {
  font-family: LucySaidOK;
  src: url("../font/Lucy Said Ok Personal Use.ttf") format("opentype");
}
@font-face {
  font-family: SymphonyCalligraphy;
  src: url("../font/SymphonieCalligraphyDEMO-Regular.otf") format("opentype");
}
#col_rules_doc {
  box-sizing: border-box;
  width: 100%;
  max-width: 8.5in;
  overflow-y: hidden;
  border: none;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  background-color: pink;
  padding: 20px 30px;
}
#col_rules_doc h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}
#col_rules_doc hr {
  margin-top: 0;
  margin-bottom: 0;
}

#col_home {
  box-sizing: border-box;
  width: 100%;
  max-width: 8.5in;
  overflow-y: hidden;
  border: none;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: justify;
  background-color: pink;
  padding: 20px 30px;
}
#col_home h1 {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
}
#col_home hr {
  margin-top: 0;
  margin-bottom: 0;
}
#col_home h1 {
  font-size: clamp(25px, 5vw, 45px);
}

.col_home_info_line {
  font-size: clamp(25px, 5vw, 45px);
}

.col_menu_selected {
  background-color: pink;
}
.col_menu_selected > span {
  text-decoration: underline skyblue;
}

#col_title {
  text-align: center;
  font-size: clamp(9vw, 10vw, 150px);
  font-family: MigaeSemibold, serif;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

#col_header {
  background-color: deeppink;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

#col_slogan {
  font-family: SymphonyCalligraphy, serif;
  font-size: 4vw;
  text-align: center;
}

body {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #330002;
  overflow-y: hidden;
  overflow-x: hidden;
}

html {
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  background-color: darkred;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  overflow: auto;
}

#col_main_body {
  overflow: auto;
  display: block;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#col_menu_bar {
  font-family: Lato, serif;
  font-size: 18px;
  background-color: #ff5cff;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  height: 50px;
  width: 100%;
}
#col_menu_bar > li.colCurrentActiveLink {
  background-color: rgb(255, 76.5, 76.5);
}
#col_menu_bar > li {
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 160px;
  align-content: center;
}
#col_menu_bar > li span {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

/*# sourceMappingURL=col.css.map */
