$title_font: MigaeSemibold, serif;
$slogan_font: SymphonyCalligraphy, serif;
$menu_font : Lato, serif;
$selected_menu_item: pink;

$dark_red: #330002;
$medium_dark_red : darkred;

$header_colour: deeppink;
$background_colour: $dark_red;
$main_section_background_colour: $medium_dark_red;
$menu_bar_colour: #ff5cff;

/* Contains rules that are central to the CoL-specific index.css document itself. */
@import "font_rules";



#col_rules_doc {
    justify-content: center;
    text-align: center;
    align-content: center;
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 8.5in;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    height: 1056px;
    margin-left: auto;
    margin-right: auto;
}

.col_menu_selected {
    background-color: $selected_menu_item;
    >span {
        text-decoration: underline yellow;
    }


}

#col_title {
    text-align: center;
    font-size: 144px;
    font-family: $title_font;
    margin-top: 0;
    margin-bottom: 0;
}
#col_header {
    background-color: $header_colour;
    padding-top: 20px;
    padding-bottom: 20px;
}
#col_slogan {
    font-family: $slogan_font;
    text-align: center;
    font-size: 36px;
}
body {
    height: 100%;
    width: 100%;
    display: block;
    background-color: $background_colour;
    overflow-y: hidden;
    overflow-x: hidden;
}
html {
    height: 100%;
}
main {
    position: relative;
    width: 100%;
    background-color: $main_section_background_colour;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}
#col_main_body {
    overflow: auto;
    display: block;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}
#col_menu_bar {
    font-family: Lato, serif;
    font-size : 18px;
    background-color: $menu_bar_colour;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    height: 50px;
    width: 100%;
    >li {
        list-style-type: none;
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;
        display: inline-block;
        margin-top: auto;
        margin-bottom: auto;
        min-width: 160px;
        align-content: center;
        >span {
            vertical-align: middle;
            display: inline-block;
            width: 100%;
            margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }
    }
}
